@font-face {
  font-family: "poppins";
  src: url("../fonts/Poppins-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "poppins";
  src: url("../fonts/Poppins-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "poppins";
  src: url("../fonts/Poppins-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

:root {
  --clr-accent: #d9832e;
  --clr-bg: #f4f4f4;
  --height-navbar: 72px;
  --width-page: 1420px;
  --padding-top-page: 70px;
}

body {
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "poppins", sans-serif !important;
  font-weight: 700;
}

p,
span,
a {
  font-family: "poppins", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: black;
}

ul {
  list-style-type: none;
  padding: 0;
}

.page-size {
  max-width: var(--width-page);
  width: 94vw;
  margin-left: auto;
  margin-right: auto;
}

.page {
  max-width: var(--width-page);
  width: 94vw;
  padding-top: var(--padding-top-page);
  margin-left: auto;
  margin-right: auto;
  margin-top: var(--height-navbar);
}

@media screen and (max-width: 569px) {
  .page,
  .page-size {
    width: 90vw;
  }
}

.btn-sharp {
  border-radius: 0;
}

.btn-dark:hover {
  background-color: black;
}
