.d-flex-row-c{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .d-flex-row-s{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  
  .d-flex-row-e{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
  
  .d-flex-column-c{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .d-flex-column-s{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  
  .d-flex-column-e{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }
  